<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="piper">
    
<!-- <xacro:include filename="$(find piper_description)/urdf/piper_description_with_camera_left.xacro"/>
<xacro:include filename="$(find piper_description)/urdf/piper_description_with_camera_right.xacro"/> -->
<xacro:include filename="$(find piper_description)/urdf/piper_description_with_camera_front_left.xacro"/>
<xacro:include filename="$(find piper_description)/urdf/piper_description_with_camera_front_right.xacro"/>


    <xacro:front_left namespace="front_1">
    </xacro:front_left>

    <xacro:front_left namespace="front_8">
    </xacro:front_left>

    <xacro:front_left namespace="front_7">
    </xacro:front_left>

    <xacro:front_left namespace="front_6">
    </xacro:front_left>

    <xacro:front_right namespace="front_2">
    </xacro:front_right>

    <xacro:front_right namespace="front_3">
    </xacro:front_right>

    <xacro:front_right namespace="front_4">
    </xacro:front_right>

    <xacro:front_right namespace="front_5">
    </xacro:front_right>


    <link name="arm_base_link"/>

    <joint name="front_1_arm" type="fixed">
        <origin xyz="0.3 0.30 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_1/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_8_arm" type="fixed">
        <origin xyz="-0.3 0.6 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_8/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_7_arm" type="fixed">
        <origin xyz="-0.9 0.6 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_7/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_6_arm" type="fixed">
        <origin xyz="-1.5 0.3 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_6/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_2_arm" type="fixed">
        <origin xyz="0.3 -0.30 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_2/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_3_arm" type="fixed">
        <origin xyz="-0.3 -0.60 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_3/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_4_arm" type="fixed">
        <origin xyz="-0.9 -0.60 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_4/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="front_5_arm" type="fixed">
        <origin xyz="-1.5 -0.30 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="arm_base_link"/>
        <child link="front_5/arm_base"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

</robot>